.ProfilePageHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 20px;
}

.editButton {
    margin-left: auto;
 }

 .saveButton {
    margin-left: 20px;
 }